<!DOCTYPE html>
<html lang="en">
<head>
  <title>Update Product</title>
</head>
<body>
  <h1> ✏ Update Product</h1>
  <form method="POST">
    Name: <input type="text" name="name" value=" {{equipment.name}}"><br><br>
    Category: <input type="text" name="category" value="{{equipment.category}}"><br><br>
    Description: <input type="text" name=" description" value="{{equipment.description}}"><br><br>
    Price: <input type="number" name=" price" step="0.01" value="{{equipment.price}}"><br><br>
    Stock: <input type="number" name="stock" value="{{equipment.stock}}"><br><br>
    <button type="submit"> Update</button>
  </form>
  <br>
  <a href="{{url_for('index')}}">⬅ Back</a>
</body>
</html>